{% extends "quizapp/layout.html" %}

{% block title %}The Ultimate Quiz{% endblock %}

{% block content %}

<!-- Minimal CSS to center -->
<style type="text/css">

	#quiz-container {
		width: 50%
		margin: 0 auto;
	}
	h1,h3,h2 {
		text-align: center;
	}
	#question {
		text-align: center;
	}
	#answers {
		text-align: center;
	}
	#submit-container {
		text-align: center;
		margin: 0 auto;
	}
	
</style>

<div class="container" id="quiz-container">

	<br>
	<br>
	<h1>The Ultimate Quiz</h1>
	<br>
	<br>

	<!-- If its a POST request, display the users score and a retry button to reset the quiz -->
	<div class="container" id="score">
		{% if post %}

			<div class="container" id="submit-container">
				<button type="button" class="btn btn-primary" id="returnButton">Retry</button>
			</div>

			<form action="/" method="GET" id="returnForm"></form>
			<h2>Score = {{score}}/12</h2>

		{% endif %}
	</div>
	<br>

	<!-- This form contains the answers in groups of radio buttons, described by 'question' + the question id -->
	<!-- The for loop loops through the questions and displays them and their respective answers defined in the dictionary we passed from the view -->


	<form action="/" method="POST" id="form" name="form">
		{% csrf_token %}
		{% for question,answer in answers.items %}

			<br>
			<h3>{{question}}</h3>
			<br>

			{% for selection in answer %}
				
				<div class="radio" id="answers">
		      		<label>
		        		<input type="radio" name="question{{ question.id }}" id="radioOption{{selection.id}}" value="{{selection}}">
		        		{{ selection.answer_text }}
		      		</label>
				</div>
					
			{% endfor %}

		{% endfor %}

		<br>
		<div class="container" id="submit-container">
			<button type="button" class="btn btn-primary" id="subButton">Submit</button>
		</div>

	</form>

	

</div>

<script type="text/javascript">

	$(document).ready(function() {
    	$("#subButton").click(function(){
    		// check if all groups answered

    		var filled = true;
    		for (var i = 12; i >= 1; i--) {
    			// if there is an unchecked group, prompt the user to fill out all answers
    			if (!$("input[name='question" + i + "']:checked").val()) {
				   filled = false;
				}
    		};

    		if(filled == true) {
    			// if everything is checked out, submit the form
    			$("#form").submit();
    		} else {
    			// prompt to asnwer every question
    			alert('Make Sure To Answer Every Question!');
    		}

    	}); 
    	// if return button is hit, reload the page
    	$("#returnButton").click(function(){
    		location.reload()
    	});
	});

</script>

{% endblock %}

